
h1, h2{

    margin-top: -5px;
}

.goborders{
    border: solid #99c2ff 1px;
    border-radius: 10px;

}

.allborders {
    border: solid #99c2ff 2px;
    border-radius: 10px;
    overflow: hidden;
}
.formborders {
    border: solid white 1px;
    border-radius: 10px;
}


.gutter_padding {
    padding: 2px;

}
#main_title{
    padding: 10px;
    border-bottom: solid whitesmoke 4px;
}
#main_header {
    min-height: 130px;
    margin-top: 5px;
    background-color: #385d94;
    color: whitesmoke;
    padding: 10px;
    border: solid #385d94 3px;
    border-radius: 10px;


}

#main_footer {
    height: 80px;
    margin-top: 5px;
    background-color: #385d94;
    color: whitesmoke;
    padding:10px;
    border: solid #385d94 3px;
    border-radius: 10px;

}

.min-box-height {
    height: 600px;
}
.go-box-height{
    min-height: 200px;
}


iframe {
    width: 100%;
    height: 300px;


}
.genome-height{
    height:400px;
}
#organism {
    height:400px;

}

#gene {

}

#protein {

}


.boxheader {
    background-color: #99c2ff;
    min-height: 90px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    color: #385d94;
    padding:10px;


}
.goboxheader {
    background-color: #99c2ff;
    height: 60px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    color: #385d94;
    padding:10px;


}

.jbrowse-boxheader {
    background-color: #99c2ff;
    height: 70px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    color: #385d94;
    padding:10px;


}

.data {
    font-size: 15px;
    color: #385d94;
    padding: 15px;
    overflow: auto;


}

.dataul {
    border-bottom: solid #385d94 1px;
}

.godataul {
    border-bottom: solid #385d94 2px;
}


.boxcolor{
    background-color: whitesmoke;

}
.scroll{
    height: 485px;
    overflow: auto;
}
.orgscroll{
    height: 197px;
    overflow: auto;

}

.boxhead{
    min-height: 80px;

}

.header_forms{
    padding: 10px;


}


.boxhead_2{
    border-bottom: solid #385d94 4px;
}
.goborder{
    padding-right: 18px;
    padding-left: 18px;
}
.goform{
    float:right;
    margin-top: 5px;
}